.root {
    -fx-background-color: #f3dfa6;
    -fx-background-radius: 10;
}


.root > .viewport {
    -fx-background-color: transparent;
}

.root > .content {
    -fx-background-color: transparent;
}

.br {
    -fx-border-width: 0 4 4 0;
    -fx-border-color: #9c9a91;

}

.topbar {
    -fx-background-color: #e5dfce;
    -fx-border-radius: 0 0 10 0;
    -fx-background-radius: 0 0 10 0;
}

.ball {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 4;
}

.green {
    -fx-background-color: #c2f1be;
    -fx-border-color: #6eba67;
}

.cyan {
    -fx-background-color: #b4ecec;
    -fx-border-color: #67baba;
}

.scroll .scroll-bar:vertical {
    -fx-unit-increment: 30;
    -fx-block-increment: 100;
}

.scroll .scroll-bar:horizontal {
    -fx-unit-increment: 5;
    -fx-block-increment: 20;
}