.top {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;

    -fx-border-width: 0 4 4 4;
    -fx-border-color: #6a685c;
    -fx-background-color: #acacac;

}

.br {
    -fx-border-width: 4 4 4 0;
    -fx-border-color: #908e82;

}

.r {
    -fx-border-width: 0 4 0 0;
    -fx-border-color: #908e82;
}

.b {
    -fx-border-width: 4 0 4 0;
    -fx-border-color: #908e82;
}

.selected {
    -fx-background-color: #c6c5c5;

}


.card:hover {
    -fx-background-color: gray;

}

.card {
    -fx-background-color: c9d0d7;
}

.card2 {
    -fx-background-radius: 20;
    /*-fx-background-image: url("../images/CODEX_cards_gold_front_52.png");*/
    -fx-background-repeat: stretch;
    -fx-background-size: 150.0 71.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-color: transparent
}

.card2:hover {
    -fx-opacity: 0.8;
    /*-fx-scale-x: 2;*/
    /*-fx-scale-y: 2;*/
    /*-fx-translate-y: - 50;*/
}

.card2:pressed {
    -fx-opacity: 0.4;
}

.cont {
}

.cont:hover {

}

.round {
    -fx-background-radius: 30;
    -fx-padding: 5 15 5 15;
    -fx-border-width: 4;
    -fx-border-radius: 30;

    -fx-border-color: #b4a31f;
    -fx-background-color: #d3bb70;


}