.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}

.text-area .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.text-area .content {
    -fx-background-color: -fx-light-yellow;
    -fx-highlight-fill: transparent;
}

.text-area {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
